<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007906131899-hq5b51hl0b12umvmn3fsq6p6i89fkkbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007906131899-hq5b51hl0b12umvmn3fsq6p6i89fkkbl</string>
	<key>API_KEY</key>
	<string>AIzaSyCb4eru7zRVCTzrcI25hndyOp925VTqoNs</string>
	<key>GCM_SENDER_ID</key>
	<string>1007906131899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appMovie</string>
	<key>PROJECT_ID</key>
	<string>movie-1-a3ff3</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-1-a3ff3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007906131899:ios:704c76e0551cd5908cfe9e</string>
</dict>
</plist>